{% trans_default_domain "SellsyBundle" %}

<!-- Actions Block -->

{#
    CONNECTED => SETUP WEBHOOKS
#}
{% if connect %}
    <a
        id="node-webhooks-btn" class="btn-lg btn-block btn-warning text-center"
        href="{{ path('splash_connector_secured_action', {
                "connectorName" :   connector.profile.name,
                "webserviceId" :    connector.WebserviceId,
                "action" :          "webhooks"
            }) }}"
        >
        <i class="fa fa-refresh"></i>
        {{ 'admin.webhooks.setup.title' | trans }}
    </a>

{% endif %}    
    
<!-- End Actions Block -->

